body { font-family: Verdana,Arial,sans-serif; }
.ui-autocomplete {
  font-size: 80%;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
}
fieldset { border-radius: 4px; border-width:2px; border-color:#f5f5f5; margin-bottom: 10px; }
#flowspec { text-align: center; width:100%; }
#filter { width:80%; }
#trace { height:500px; }
